/**公用表单 css**/
.menu_box01{ width:1100px; height:35px; font-size:14px; line-height:35px; border-bottom:#ddd 1px solid;}
.menu_box01 li.tab_title{float:left; display:block; cursor:pointer; color:#666;font-size:14px; float:left; margin-left:30px; }
.menu_box01 li.active,.menu_box01 li:hover{ border-bottom:3px solid #f60; color:#333;font-weight:bold; height:32px;line-height:35px; }

.content_box01{ width:1100px; }
.hhi_form_box01{ width:1100px; height:540px; padding-top:10px;list-style: none outside none;}
.hhi_form_box01 li{ width:1100px; line-height:28px;  margin-top:10px; font-size:14px; float:left;}
.hhi_form_box01 li .l_title{ width:110px; display:block; float:left; line-height:28px; text-align:right;}
.hhi_form_box01 li .r_input{ width:260px; margin-left:10px; float:left;}
.hhi_form_box01 li .r_input .input_bor{ font-size:14px; color:#666; border:#ddd 1px solid; background:#fff; width:240px; height:20px; line-height:22px; padding:0 5px; font-family:"Microsoft YaHei"}
.hhi_form_box01 li .r_input .textarea_bor{ font-size:14px; color:#666; border:#ddd 1px solid; background:#fff; line-height:22px; padding:0 5px; font-family:"Microsoft YaHei"}
.submit_icon{ width:120px; height:28px; line-height:28px; text-align:center; background:#6f91bb; color:#fff; cursor:pointer; font-size:14px; display:block; float:left; margin-left:10px;}
.submit_icon:hover{ background:#358;}


@charset "utf-8";
/**供方准入评审**/


/**共用css beigin**/
.h_con{font-size: 16px; font-family:"Microsoft YaHei"; color:#666;}
.w1000{ width:1100px; margin:0 auto;}
.h_checkbox{ vertical-align:-2px;}
.fb{ font-weight:bold;}
.pl10{ padding-left:10px;}
.h_floatfix{*zoom:1;}
.h_floatfix:after{content:"";display:table; clear:both;}
.titbg{ background:#edeff5;}
.fl{ float:left;}
.fr{ float:right;}

/**图标 按钮 表单 begin**/
.base-icon02{ background-image:url(images/base-icon2.png); background-repeat:no-repeat; font-family:"Microsoft YaHei"; font-size:14px;}
.hhi_iconbs{ width:60px; height:22px; line-height:16px;float:left; cursor:pointer; border:none; padding-left:24px; color:#666; font-family:"Microsoft YaHei"; background-color:#f5f5f5; border:#ddd 1px solid;}
.hhi_iconbs:hover{color:#fff; background-color:#358; border:#358 1px solid;}

.hhi_btns{ height:22px; line-height:16px; float:left; cursor:pointer; text-align:center; color:#666; margin-right:10px; padding:0 7px; font-family:"Microsoft YaHei";background-color:#f5f5f5; border:#ddd 1px solid;}
.hhi_btns:hover{color:#fff; background-color:#358; border:#358 1px solid;}

/**导出按钮**/
.hhi_daochu{ background-position:5px -131px; }

/**下拉框样式**/
.h_slt{ width:110px; border:#c7d8e3 1px solid; line-height:18px; font-family:"Microsoft YaHei"; color:#777;}

/**编辑图标**/
.bjxx_ico{ background-position:0 -45px;}

/**查看图标**/
.ckxx_ico{ background-position:0 -98px;}

/**删除图标**/
.del_ico2{ background-position:0 -209px;}

/**增加图标**/
.add_ico2{ background-position:0 -266px;}

/**处理图标**/
.deal_ico2{ background-position:0 -330px;}


/**标题**/
.h_title2{ width:100%; height:40px; line-height:40px; text-align:left; margin-top:10px;}
.h_title2 .border-blue{ display:block; height:40px; color:#358; font-size:18px; border-bottom:#358 4px solid; font-weight:bold; float:left; text-align:left; padding:0 5px;}
.h_title2 .border-gray{ display:block;  height:40px; border-bottom:#ccc 4px solid; float:left;}
/**标题**/

.div_ck_con1{ width:998px; line-height:28px; font-size:14px; list-style:none; margin:0; padding:0; border:#ddd 1px solid;}

/**横着的tab begin**/
.menu_box01{ width:100%; list-style:none; margin:20px 0; padding:0; border-bottom:#ddd 1px solid; height:36px;}
.tab_title{ float:left; display:block; cursor:pointer; color:#777;font-size:16px; background-color:#fdfdfd; border:#ddd 1px solid; margin-left:-1px; padding:0 30px; height:35px; line-height:35px;}
.t_active{ color:#333; border-bottom:none; background-color:#fff; height:36px; line-height:35px;}
.tab_title:hover{ color:#333;}
.content_box01{ width:100%; }
/**横着的tab end**/

/**工具箱box begin**/
.h_toolbox2{ width:968px; padding:15px; border:#ddd 1px solid; margin-top:15px; font-size:12px; background:#fefefe;}
.h_toolbox2 .b{ font-weight:bold; float:left; display:block; text-align:right; line-height:22px; height:22px; color:#333;}
.h_toolbox2 .info{ float:left; display:block; text-align:right;}
.h_toolbox2 .info a{ padding:2px 10px; display:block; float:left; text-decoration:none; margin-left:10px; color:#666;}
.h_toolbox2 .info  a:hover,.h_toolbox2 .info  a.on{ color:#fff; padding:2px 10px; background:#6f91bb;}

/**内页面 内搜索**/
.h_search{ display:block; text-align:right; line-height:22px; height:22px; float:left;}
.h_search .l{ width:168px; height:22px; float:left;}
.h_search .l .inputbg{ width:168px; height:22px; line-height:22px; color:#999; font-size:14px; padding:0 10px; background:#f6f6f6; border:none; font-family:"Microsoft YaHei"}
.h_search .search-icon{ width:22px; height:22px; line-height:22px; background:url(images/xmzx-icon.png) 1px 3px #f6f6f6 no-repeat; float:left; cursor:pointer;}


/**列表list begin**/
.hhi_list02{ width:980px; background:#fefefe; border:#ddd 1px solid; margin-top:15px;}
.hhi_list02 .content{ list-style:none; padding:0; margin:0; }
.hhi_list02 li{ font-size:12px; text-align:left; white-space:nowrap; word-break:keep-all; float:left; width:100%; margin-top:5px; color:#666; line-height:24px;}
.li_hoverbg:hover{ color:#f60;}
.hhi_list02 li span{ text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap; display:block; float:left; }
.hhi_list02 li span img{ margin-top:5px;}
/**列表list end**/

/**分页**/
.h_page{ height:24px; line-height:24px; font-size:12px; text-align:center; padding:5px;}
.h_page a{ color:#666; padding:0 10px; text-decoration:none;}
.h_page a:hover,.h_page a.on{ color:#f60;}
